form{
    width: 300px;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
}
form>input{
    width: 100%;
    padding: 7px 0;
    border: 5px;
    border: 1px solid #000;
}
form>input[type='submit']{
    background: linear-gradient(15deg, aqua,red);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}